@{
    ViewData["Title"] = "Dashboard";
}

@section Header {
    <link href="~/assets/extensions/toastify-js/src/toastify.css" rel="stylesheet" />
    <link href="~/assets/extensions/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/extensions/datatables.net-bs5/css/select.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/extensions/datatables.net-bs5/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

    <script src="~/assets/extensions/font-awesome/all.min.js"></script>
}

<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch"
         style="padding-right: 0px !important; padding-left: 7px !important;">
        <div class="card w-100" style="padding: 0px 10px 10px 10px;">
            <canvas id="myChart" height="400"></canvas>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 d-flex align-items-stretch"
         style="padding-right: 0px !important; padding-left: 7px !important;">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-2">Vocabulary Word Logs</h5>
                <div class="timeline-widget mb-0 position-relative">
                    <table id="vocabularyLearningLogDatatable" class="table table-bordered dt-responsive nowrap" width="100%"
                           cellspacing="0" style="text-align: center">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Date</th>
                                <th>Duration</th>
                                <th>Notes</th>
                                <th>Device</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <script src="~/assets/extensions/toastify-js/src/toastify.js"></script>
    <script src="~/assets/extensions/jquery/jquery.min.js"></script>
    <script src="~/assets/extensions/datatables/datatables.min.js"></script>
    <script src="~/assets/extensions/datatables/dataTables.select.min.js"></script>
    <script src="~/assets/extensions/jquery-validate/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/js/pages/vocabulary-learning-logs.js"></script>
}