<div class="position-fixed top-0 end-0 p-3" style="z-index: 111111111;">
    <div id="myToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="alert mb-0 ">
            <i class="bi bi-exclamation-triangle"></i>
            <span id="toast-content">
            </span>
        </div>
    </div>
</div>