.paginate_button.page-item a {
    color: black !important;
}

.dataTables_filter input {
    width: 300px !important;
    height: 35px !important;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.table {
    --bs-table-border-color: #dddddd !important;
}

    .table thead tr th,
    .table tbody tr td {
        color: black;
    }

.btn-close {
    display: flex;
    border: 0px;
    background: transparent;
    font-size: 20px !important;
}

    .btn-close:hover {
        color: red;
    }

.modal-title {
    font-weight: bold;
}

.form-label {
    margin-bottom: 0.3rem !important;
}

.form-group.mandatory label.form-label::before {
    content: "*";
    color: red;
    display: inline-block;
    margin-left: 4px; /* Khoảng cách giữa nhãn và dấu "*" */
    float: right; /* Đẩy dấu "*" sang phải */
}

#main-wrapper[data-layout=vertical][data-header-position=fixed] .app-header {
    width: calc(100% - 240px);
}

.is-invalid {
    color: red !important;
}

.left-sidebar {
    width: 240px !important;
}

.body-wrapper {
    margin-left: 240px !important;
}

.container-fluid {
    margin: 0 15px;
}

.container-fluid {
    max-width: 100% !important;
}

.card {
    margin-bottom: 15px !important;
}

.wrap-text {
    white-space: normal !important;
}

table.dataTable > thead .sorting:before,
table.dataTable > thead .sorting:after,
table.dataTable > thead .sorting_asc:before,
table.dataTable > thead .sorting_asc:after,
table.dataTable > thead .sorting_desc:before,
table.dataTable > thead .sorting_desc:after,
table.dataTable > thead .sorting_asc_disabled:before,
table.dataTable > thead .sorting_asc_disabled:after,
table.dataTable > thead .sorting_desc_disabled:before,
table.dataTable > thead .sorting_desc_disabled:after {
    bottom: 0.65rem !important;
}

.btn-default {
    width: 80px;
}

.row {
    margin: 0px !important;
}

.col-sm-12 {
    padding: 0px !important;
}

.card-choose {
    background: #8ad6f5;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0px;
}

    .card-choose:hover {
        background: #3bc552;
    }

    .card-choose label {
        font-weight: 600;
        color: black;
    }

.alert-danger,
.alert-success {
    --bs-alert-color: black !important;
}

.form-control {
    border: var(--bs-border-width) solid #c2acac !important;
}

.table thead tr th,
.table tbody tr td {
    padding: 8px !important;
}

.table thead tr th {
    background: #e9e9e9 !important;
}

#number-of-incorrect-answers {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background: #f96363;
    border-radius: 15px;
}

#number-of-correct-answers {
    width: 30px;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    background: #0b7b0b;
    border-radius: 15px;
}


.vocabulary-info {
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: green;
    font-style: italic;
}

select,
option,
input {
    color: black !important;
}

.fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.0);
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
}


.card-footer {
    padding: 15px;
}

    .card-footer h6 {
        margin: 0px;
        line-height: 1.4rem;
        min-height: 42px;
        font-size: 15px;
        letter-spacing: 0.3px;
        text-align: justify;
    }

.card-course {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

    .card-course:hover {
        transform: scale(1.05); /* Scale up on hover */
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add a subtle box shadow on hover */
        opacity: 0.85;
    }

.course-date-created {
    margin-top: 5px;
    margin-right: 5px;
    font-size: 9px;
    top: 0;
    right: 0;
    position: absolute;
}

.choices__list.choices__list--dropdown {
    max-height: 150px !important;
}

.choices__inner {
    height: 100px !important;
    overflow: auto !important;
}

.choices[data-type*=select-multiple] .choices__button,
.choices[data-type*=text] .choices__button {
    border-left: 1px solid #ffffff !important;
}

#course-learing-log {
    background: #718486;
    width: 40px;
    height: 40px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 50px;
    right: 50px;
    text-align: center;
    border-radius: 40px;
    vertical-align: middle;
    transition: transform 0.3s ease, background 0.3s ease; /* Thêm dòng này để áp dụng hiệu ứng transition */
    animation: rotate 2s linear infinite; /* Thêm dòng này để áp dụng hiệu ứng rotation */
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }

    to {
        transform: rotate(360deg) scale(1.2);
    }
}

#course-learing-log:hover {
    background: #4d95c4;
    transform: scale(1.2);
    animation: none; /* Tắt animation rotation khi hover để tránh xung đột với hiệu ứng transition */
}
